.intro {
    text-align: center;
    margin-top: 100px;
}

.intro h2 {
    font-size: 28px;
    font-weight: bold;
    margin: 0 auto 40px auto;
}

.intro p {
    font-size: 18px;
    color: #444;
    margin: 0 auto 40px auto;
}

.intro .btn-group {
    max-width: 80%;
    padding: 10px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin: 0 auto 40px auto;
}

.btn-create,
.btn-view-all {
    display: inline-block;
    padding: 10px 20px;
    background-color: #7EA65F;
    color: white;
    border-radius: 6px;
    text-decoration: none;
}

.btn-view-all {
    background-color: #A3B763;
}
